.container {
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.row-reverse-xs {
  flex-direction: row-reverse;
}
.row-start-xs {
  justify-content: flex-start;
}
.row-center-xs {
  justify-content: center;
}
.row-end-xs {
  justify-content: flex-end;
}
.row-top-xs {
  align-items: flex-start;
}
.row-middle-xs {
  align-items: center;
}
.row-bottom-xs {
  align-items: flex-end;
}
.row-around-xs {
  justify-content: space-around;
}
.row-between-xs {
  justify-content: space-between;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-shrink,
.col-xs-min,
.col-xs {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs {
  flex-grow: 1;
  flex-basis: 0%;
  max-width: 100%;
  min-width: 0;
}
.col-xs-shrink {
  flex-grow: 0;
  flex-basis: auto;
  max-width: 100%;
  min-width: 0;
}
.col-xs-min {
  flex-grow: 0;
  flex-basis: 0%;
  max-width: 100%;
  min-width: 0;
}
.col-first-xs {
  order: -1;
}
.col-last-xs {
  order: 1;
}
.col-flex-xs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.flex-grow-xs {
  flex-grow: 1;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  .row-reverse-sm {
    flex-direction: row-reverse;
  }
  .row-start-sm {
    justify-content: flex-start;
  }
  .row-center-sm {
    justify-content: center;
  }
  .row-end-sm {
    justify-content: flex-end;
  }
  .row-top-sm {
    align-items: flex-start;
  }
  .row-middle-sm {
    align-items: center;
  }
  .row-bottom-sm {
    align-items: flex-end;
  }
  .row-around-sm {
    justify-content: space-around;
  }
  .row-between-sm {
    justify-content: space-between;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-sm-shrink,
  .col-sm-min,
  .col-sm {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm {
    flex-grow: 1;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .col-sm-shrink {
    flex-grow: 0;
    flex-basis: auto;
    max-width: 100%;
    min-width: 0;
  }
  .col-sm-min {
    flex-grow: 0;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .col-first-sm {
    order: -1;
  }
  .col-last-sm {
    order: 1;
  }
  .col-flex-sm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .flex-grow-sm {
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  .row-reverse-md {
    flex-direction: row-reverse;
  }
  .row-start-md {
    justify-content: flex-start;
  }
  .row-center-md {
    justify-content: center;
  }
  .row-end-md {
    justify-content: flex-end;
  }
  .row-top-md {
    align-items: flex-start;
  }
  .row-middle-md {
    align-items: center;
  }
  .row-bottom-md {
    align-items: flex-end;
  }
  .row-around-md {
    justify-content: space-around;
  }
  .row-between-md {
    justify-content: space-between;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-md-shrink,
  .col-md-min,
  .col-md {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md {
    flex-grow: 1;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .col-md-shrink {
    flex-grow: 0;
    flex-basis: auto;
    max-width: 100%;
    min-width: 0;
  }
  .col-md-min {
    flex-grow: 0;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .col-first-md {
    order: -1;
  }
  .col-last-md {
    order: 1;
  }
  .col-flex-md {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .flex-grow-md {
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-reverse-lg {
    flex-direction: row-reverse;
  }
  .row-start-lg {
    justify-content: flex-start;
  }
  .row-center-lg {
    justify-content: center;
  }
  .row-end-lg {
    justify-content: flex-end;
  }
  .row-top-lg {
    align-items: flex-start;
  }
  .row-middle-lg {
    align-items: center;
  }
  .row-bottom-lg {
    align-items: flex-end;
  }
  .row-around-lg {
    justify-content: space-around;
  }
  .row-between-lg {
    justify-content: space-between;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
  .col-lg-shrink,
  .col-lg-min,
  .col-lg {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg {
    flex-grow: 1;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .col-lg-shrink {
    flex-grow: 0;
    flex-basis: auto;
    max-width: 100%;
    min-width: 0;
  }
  .col-lg-min {
    flex-grow: 0;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .col-first-lg {
    order: -1;
  }
  .col-last-lg {
    order: 1;
  }
  .col-flex-lg {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .flex-grow-lg {
    flex-grow: 1;
  }
}
/*# sourceMappingURL=flxgrid.css.map */