.flx-container {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}
.flx-container-fixed {
  margin-right: auto;
  margin-left: auto;
}
.flx-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.flx-col {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.flx-row-reverse-xs {
  flex-direction: row-reverse;
}
.flx-row-start-xs {
  justify-content: flex-start;
}
.flx-row-center-xs {
  justify-content: center;
}
.flx-row-end-xs {
  justify-content: flex-end;
}
.flx-row-top-xs {
  align-items: flex-start;
}
.flx-row-middle-xs {
  align-items: center;
}
.flx-row-bottom-xs {
  align-items: flex-end;
}
.flx-row-baseline-xs {
  align-items: baseline;
}
.flx-row-around-xs {
  justify-content: space-around;
}
.flx-row-between-xs {
  justify-content: space-between;
}
.flx-cell-1-xs, .flx-cell-2-xs, .flx-cell-3-xs, .flx-cell-4-xs, .flx-cell-5-xs, .flx-cell-6-xs, .flx-cell-7-xs, .flx-cell-8-xs, .flx-cell-9-xs, .flx-cell-10-xs, .flx-cell-11-xs, .flx-cell-12-xs,
.flx-cell-shrink-xs,
.flx-cell-min-xs,
.flx-cell-xs {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.flx-cell-1-xs {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.flx-cell-2-xs {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.flx-cell-3-xs {
  flex-basis: 25%;
  max-width: 25%;
}
.flx-cell-4-xs {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.flx-cell-5-xs {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.flx-cell-6-xs {
  flex-basis: 50%;
  max-width: 50%;
}
.flx-cell-7-xs {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.flx-cell-8-xs {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.flx-cell-9-xs {
  flex-basis: 75%;
  max-width: 75%;
}
.flx-cell-10-xs {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.flx-cell-11-xs {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.flx-cell-12-xs {
  flex-basis: 100%;
  max-width: 100%;
}
.flx-cell-offset-0-xs {
  margin-left: 0%;
}
.flx-cell-offset-1-xs {
  margin-left: 8.33333333%;
}
.flx-cell-offset-2-xs {
  margin-left: 16.66666667%;
}
.flx-cell-offset-3-xs {
  margin-left: 25%;
}
.flx-cell-offset-4-xs {
  margin-left: 33.33333333%;
}
.flx-cell-offset-5-xs {
  margin-left: 41.66666667%;
}
.flx-cell-offset-6-xs {
  margin-left: 50%;
}
.flx-cell-offset-7-xs {
  margin-left: 58.33333333%;
}
.flx-cell-offset-8-xs {
  margin-left: 66.66666667%;
}
.flx-cell-offset-9-xs {
  margin-left: 75%;
}
.flx-cell-offset-10-xs {
  margin-left: 83.33333333%;
}
.flx-cell-offset-11-xs {
  margin-left: 91.66666667%;
}
.flx-cell-offset-12-xs {
  margin-left: 100%;
}
.flx-cell-xs {
  flex-grow: 1;
  flex-basis: 0%;
  max-width: 100%;
  min-width: 0;
}
.flx-cell-shrink-xs {
  flex-grow: 0;
  flex-basis: auto;
  max-width: 100%;
  min-width: 0;
}
.flx-cell-min-xs {
  flex-grow: 0;
  flex-basis: 0%;
  max-width: 100%;
  min-width: 0;
}
.flx-cell-first-xs {
  order: -1;
}
.flx-cell-last-xs {
  order: 1;
}
.flx-cell-flex-xs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.flx-cell-grow-xs {
  flex-grow: 1;
}
@media (min-width: 768px) {
  .flx-container-fixed {
    max-width: 750px;
  }
  .flx-row-reverse-sm {
    flex-direction: row-reverse;
  }
  .flx-row-start-sm {
    justify-content: flex-start;
  }
  .flx-row-center-sm {
    justify-content: center;
  }
  .flx-row-end-sm {
    justify-content: flex-end;
  }
  .flx-row-top-sm {
    align-items: flex-start;
  }
  .flx-row-middle-sm {
    align-items: center;
  }
  .flx-row-bottom-sm {
    align-items: flex-end;
  }
  .flx-row-baseline-sm {
    align-items: baseline;
  }
  .flx-row-around-sm {
    justify-content: space-around;
  }
  .flx-row-between-sm {
    justify-content: space-between;
  }
  .flx-cell-1-sm, .flx-cell-2-sm, .flx-cell-3-sm, .flx-cell-4-sm, .flx-cell-5-sm, .flx-cell-6-sm, .flx-cell-7-sm, .flx-cell-8-sm, .flx-cell-9-sm, .flx-cell-10-sm, .flx-cell-11-sm, .flx-cell-12-sm,
  .flx-cell-shrink-sm,
  .flx-cell-min-sm,
  .flx-cell-sm {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .flx-cell-1-sm {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .flx-cell-2-sm {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .flx-cell-3-sm {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flx-cell-4-sm {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .flx-cell-5-sm {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .flx-cell-6-sm {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flx-cell-7-sm {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .flx-cell-8-sm {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .flx-cell-9-sm {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flx-cell-10-sm {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .flx-cell-11-sm {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .flx-cell-12-sm {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flx-cell-offset-0-sm {
    margin-left: 0%;
  }
  .flx-cell-offset-1-sm {
    margin-left: 8.33333333%;
  }
  .flx-cell-offset-2-sm {
    margin-left: 16.66666667%;
  }
  .flx-cell-offset-3-sm {
    margin-left: 25%;
  }
  .flx-cell-offset-4-sm {
    margin-left: 33.33333333%;
  }
  .flx-cell-offset-5-sm {
    margin-left: 41.66666667%;
  }
  .flx-cell-offset-6-sm {
    margin-left: 50%;
  }
  .flx-cell-offset-7-sm {
    margin-left: 58.33333333%;
  }
  .flx-cell-offset-8-sm {
    margin-left: 66.66666667%;
  }
  .flx-cell-offset-9-sm {
    margin-left: 75%;
  }
  .flx-cell-offset-10-sm {
    margin-left: 83.33333333%;
  }
  .flx-cell-offset-11-sm {
    margin-left: 91.66666667%;
  }
  .flx-cell-offset-12-sm {
    margin-left: 100%;
  }
  .flx-cell-sm {
    flex-grow: 1;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-shrink-sm {
    flex-grow: 0;
    flex-basis: auto;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-min-sm {
    flex-grow: 0;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-first-sm {
    order: -1;
  }
  .flx-cell-last-sm {
    order: 1;
  }
  .flx-cell-flex-sm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .flx-cell-grow-sm {
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .flx-container-fixed {
    max-width: 970px;
  }
  .flx-row-reverse-md {
    flex-direction: row-reverse;
  }
  .flx-row-start-md {
    justify-content: flex-start;
  }
  .flx-row-center-md {
    justify-content: center;
  }
  .flx-row-end-md {
    justify-content: flex-end;
  }
  .flx-row-top-md {
    align-items: flex-start;
  }
  .flx-row-middle-md {
    align-items: center;
  }
  .flx-row-bottom-md {
    align-items: flex-end;
  }
  .flx-row-baseline-md {
    align-items: baseline;
  }
  .flx-row-around-md {
    justify-content: space-around;
  }
  .flx-row-between-md {
    justify-content: space-between;
  }
  .flx-cell-1-md, .flx-cell-2-md, .flx-cell-3-md, .flx-cell-4-md, .flx-cell-5-md, .flx-cell-6-md, .flx-cell-7-md, .flx-cell-8-md, .flx-cell-9-md, .flx-cell-10-md, .flx-cell-11-md, .flx-cell-12-md,
  .flx-cell-shrink-md,
  .flx-cell-min-md,
  .flx-cell-md {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .flx-cell-1-md {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .flx-cell-2-md {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .flx-cell-3-md {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flx-cell-4-md {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .flx-cell-5-md {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .flx-cell-6-md {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flx-cell-7-md {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .flx-cell-8-md {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .flx-cell-9-md {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flx-cell-10-md {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .flx-cell-11-md {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .flx-cell-12-md {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flx-cell-offset-0-md {
    margin-left: 0%;
  }
  .flx-cell-offset-1-md {
    margin-left: 8.33333333%;
  }
  .flx-cell-offset-2-md {
    margin-left: 16.66666667%;
  }
  .flx-cell-offset-3-md {
    margin-left: 25%;
  }
  .flx-cell-offset-4-md {
    margin-left: 33.33333333%;
  }
  .flx-cell-offset-5-md {
    margin-left: 41.66666667%;
  }
  .flx-cell-offset-6-md {
    margin-left: 50%;
  }
  .flx-cell-offset-7-md {
    margin-left: 58.33333333%;
  }
  .flx-cell-offset-8-md {
    margin-left: 66.66666667%;
  }
  .flx-cell-offset-9-md {
    margin-left: 75%;
  }
  .flx-cell-offset-10-md {
    margin-left: 83.33333333%;
  }
  .flx-cell-offset-11-md {
    margin-left: 91.66666667%;
  }
  .flx-cell-offset-12-md {
    margin-left: 100%;
  }
  .flx-cell-md {
    flex-grow: 1;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-shrink-md {
    flex-grow: 0;
    flex-basis: auto;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-min-md {
    flex-grow: 0;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-first-md {
    order: -1;
  }
  .flx-cell-last-md {
    order: 1;
  }
  .flx-cell-flex-md {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .flx-cell-grow-md {
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .flx-container-fixed {
    max-width: 1170px;
  }
  .flx-row-reverse-lg {
    flex-direction: row-reverse;
  }
  .flx-row-start-lg {
    justify-content: flex-start;
  }
  .flx-row-center-lg {
    justify-content: center;
  }
  .flx-row-end-lg {
    justify-content: flex-end;
  }
  .flx-row-top-lg {
    align-items: flex-start;
  }
  .flx-row-middle-lg {
    align-items: center;
  }
  .flx-row-bottom-lg {
    align-items: flex-end;
  }
  .flx-row-baseline-lg {
    align-items: baseline;
  }
  .flx-row-around-lg {
    justify-content: space-around;
  }
  .flx-row-between-lg {
    justify-content: space-between;
  }
  .flx-cell-1-lg, .flx-cell-2-lg, .flx-cell-3-lg, .flx-cell-4-lg, .flx-cell-5-lg, .flx-cell-6-lg, .flx-cell-7-lg, .flx-cell-8-lg, .flx-cell-9-lg, .flx-cell-10-lg, .flx-cell-11-lg, .flx-cell-12-lg,
  .flx-cell-shrink-lg,
  .flx-cell-min-lg,
  .flx-cell-lg {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .flx-cell-1-lg {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .flx-cell-2-lg {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .flx-cell-3-lg {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flx-cell-4-lg {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .flx-cell-5-lg {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .flx-cell-6-lg {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flx-cell-7-lg {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .flx-cell-8-lg {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .flx-cell-9-lg {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flx-cell-10-lg {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .flx-cell-11-lg {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .flx-cell-12-lg {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flx-cell-offset-0-lg {
    margin-left: 0%;
  }
  .flx-cell-offset-1-lg {
    margin-left: 8.33333333%;
  }
  .flx-cell-offset-2-lg {
    margin-left: 16.66666667%;
  }
  .flx-cell-offset-3-lg {
    margin-left: 25%;
  }
  .flx-cell-offset-4-lg {
    margin-left: 33.33333333%;
  }
  .flx-cell-offset-5-lg {
    margin-left: 41.66666667%;
  }
  .flx-cell-offset-6-lg {
    margin-left: 50%;
  }
  .flx-cell-offset-7-lg {
    margin-left: 58.33333333%;
  }
  .flx-cell-offset-8-lg {
    margin-left: 66.66666667%;
  }
  .flx-cell-offset-9-lg {
    margin-left: 75%;
  }
  .flx-cell-offset-10-lg {
    margin-left: 83.33333333%;
  }
  .flx-cell-offset-11-lg {
    margin-left: 91.66666667%;
  }
  .flx-cell-offset-12-lg {
    margin-left: 100%;
  }
  .flx-cell-lg {
    flex-grow: 1;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-shrink-lg {
    flex-grow: 0;
    flex-basis: auto;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-min-lg {
    flex-grow: 0;
    flex-basis: 0%;
    max-width: 100%;
    min-width: 0;
  }
  .flx-cell-first-lg {
    order: -1;
  }
  .flx-cell-last-lg {
    order: 1;
  }
  .flx-cell-flex-lg {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .flx-cell-grow-lg {
    flex-grow: 1;
  }
}
/*# sourceMappingURL=flxgrid.css.map */