<footer class="pagefooter">
    <div class="flx-row">
        <div class="flx-cell-shrink-xs">
            Made by <a class="link-inherit" href="http://paulradzkov.com">Paul Radzkov</a>
        </div>
        <div class="flx-cell-shrink-xs">
            <a class="link-inherit" href="https://github.com/paulradzkov/grid">GitHub</a>
        </div>
        <div class="flx-cell-shrink-xs">
            <a class="link-inherit" href="https://github.com/paulradzkov/grid/issues">Issues</a>
        </div>
        <div class="flx-cell-shrink-xs" title="Coming soon">
            Changelog
        </div>
    </div>
</footer>
